* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background: #fff;
  color: rgb(0,200,215);
  font-family: Alegreya Sans, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.page-header {
  padding: 24px 3% 10px;
  overflow: hidden;
}

  .header-logo {
    float: left;
    font-family: helvetica, arial, sans-serif;
    font-size: 16px;
  }

  .header-signin {
    float: right;
  }

  .header-nav {
    display: none;
  }

.marketing-intro {
  color: #fff;
  text-align: center;
}

  .marketing-intro-story {
    padding: 45px 3% 52px;
  }

  .marketing-intro-manage {
    background: rgb(0,200,215);
  }
    .marketing-story-action {
      border: 2px solid white;
      background: white;
      color: rgb(0,200,215);
      padding: 10px 20px;

      /* transition: all duration timing-fn animation-delay */
      -webkit-transition: .3s;
      transition: .3s;
    }
    .marketing-story-action:active,
    .marketing-story-action:hover {
      background: rgb(0,200,215);
      color: white;
    }
  .marketing-intro-find {
    background: rgb(66,96,116);
  }

  .marketing-intro-story h1 {
    margin-bottom: 28px;
    font-size: 22px;
  }
  .marketing-intro-story p {
    margin-bottom: 44px;
  }

.features {
  padding: 20px 3%;
}

  .feature {
    padding: 20px 0;
  }

    .feature p {
      color: #78848b;
    }

    .feature-payments-link {
      display: block;
      background: rgb(66, 96, 116);
      height: 100px;
      width: 100px;
      border-radius: 50px;
    }

@media screen and (min-width: 520px) {
  body {
    background: url(http://farm3.staticflickr.com/2858/12208610296_a9c7a492ef_o.jpg) fixed;
    /* always use this one together with background
       in order to fill the element's background */
    background-size: cover;
  }

  .page-header {
    background: white;
    padding: 54px 6% 30px;
  }

    .header-nav {
      display: block;
      float: right;
      font-family: helvetica, arial, sans-serif;
      font-weight: bold;
    }
    .header-nav li {
      display: inline;
      margin-right: 15px;
    }
    .header-nav a {
      font-size: 13px;
    }
    .header-nav li:first-child a {
      border: 1px solid rgb(0,200,215);
      background-color: white;
      color: rgb(0,200,215);
      padding: 5px 10px;
      border-radius: 3px;
      transition: .25s;
    }
  /*
  LoVeHAte

  a:link
  a:visited
  hover
  active

  a:visited {
    color:violet;
  }
  a:hover,
  a:active {
  }
  */
    .header-nav li:first-child a:hover {
      background-color: rgb(0,200,215);
      color: white;
    }

  .marketing-intro {
    overflow: hidden;
  }
    .marketing-intro-story {
      float: left;
      width:50%;
      min-height: 550px;
      padding: 140px 6% 26px;
    }
      .marketing-intro-story h1 {
        font-size: 32px;
        margin-bottom: 42px;
      }
      .marketing-intro-story p {
        font-size: 18px;
        margin-bottom: 102px;
      }

    .marketing-intro-manage {
      background: rgba(0, 200, 215, 0.8);
    }

    .marketing-intro-find {
      background: rgba(66, 96, 116, 0.8);
    }

  .features {
    background: white;
    padding: 40px 6%;
  }

}
