.blackOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  /*opacity: 0.7;*/
  opacity: 0.3;
}

.photoSection {
  background-size: cover;

  display: flex;
  align-items: center;
}

.photoSection > section {
  position: relative;
  /*z-index: 2;*/
  margin: 0 auto;
  background: rgba(255,255,255,1);
  border-radius: 5px;
  box-shadow: 0px 6px 28px 0px rgba(0, 0, 0, 0.30);
  font-size: 0;
}

.photoSection nav,
.photoSection section.photos {
  display: inline-block;
  vertical-align: top;
}

.photoSection nav header {
  height: 32px;
  padding: 0 12px;
  font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 32px;
  border-bottom: 1px solid #E5E5E5;
}

.photoSection nav ul li {
  height: 32px;
  margin-top: 3px;
  padding: 0 12px;
  font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 32px;
  color: #4F4F4F;
  cursor: pointer;
}

.photoSection nav ul li:hover {
  background: #656565;
  color: white;
}

.photoSection section.photos {
  /*overflow: hidden;*/
  overflow-x: scroll;
  overflow-y: hidden;
  border-radius: 0 5px 5px 0;
/*  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;*/
}

.photoSection section.photos ul {
  width: 1280px;
}

.photoSection section.photos li {
  display: inline-block;
}

.photoSection section.photos li:nth-child(odd) {
  width: 512px;
}

.photoSection section.photos li:nth-child(odd) .fa-heart {
  margin: 470px 0 0 10px;
}

.photoSection section.photos li:nth-child(even) {
  width: 256px;
}

.photoSection section.photos li:nth-child(even) .fa-heart {
  margin: 214px 0 0 10px;
}

.photoSection section.photos li a {
  display: block;
  background-size: cover !important;
}

.photoSection section.photos aside {
  position: absolute;
  margin-left: 768px;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  opacity: .4;
  cursor: pointer;

  display: flex;
  align-items: center;
}

.photoSection section.photos aside:hover {
  opacity: .8;
}

.fa-chevron-right {
  margin: 0 auto;
  color: white;
  font-size: 36px;
}

.fa-heart {
  position: relative;
  color: white;
  font-size: 36px;
  opacity: .6;
}

.fa-heart:hover {
  opacity: .9;
}

.fa-heart div {
  margin-top: -27px;
  color: black;
  font-size: 14px;
  text-align: center;
  font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

#foodSection {
  background: url(../images/food-background.jpg) center;
}

#legsSection {
  background: url(../images/legs-background.jpg) center;
}

#catsSection {
  background: url(../images/cats-background.png) center;
}

#selfiesSection {
  background: url(../images/selfies-background.jpg) center;
}



/*@media all and (max-width: 699px) and (min-width: 520px), (min-width: 1151px) {
  body {
    background: #ccc;
  }
}*/