* {
  box-sizing: border-box;
  transition: all .3s ease-out;
  text-decoration: none;
}

body {
  min-width: 940px;
  font-family: "HelveticaNeue-Light", Arial, sans-serif;
}

h1 {
  font-size: 24px;
}

h2 {
  margin-top: 70px;
  font-size: 34px;
}

h3 {
  margin-top: 84px;
  font-size: 24px;
}

p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 20px;
}

#welcome,
#about,
#portfolio {
  border-bottom: 1px solid lightgrey;
}

#welcome footer,
#about header,
#about section,
#portfolio header {
  width: 900px;
  margin: 0 auto;
}

#welcome section {
  height: 500px;
  background-image: url(../images/header-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#welcome footer {
  min-height: 106px;
  padding: 16px 0;
}

#welcome h1,
#welcome p {
  margin-left: 175px;
}

#welcome aside {
  float: left;
  width: 148px;
  height: 148px;
  margin-top: -64px;
  background-image: url(../images/userpic.jpg);
  background-size: cover;
  border: 4px solid white;
  border-radius: 5px;
}

#about {
  padding-bottom: 100px;
}

#promo {
  float: right;
  /*margin-right: -80px;*/
}

#clock {
  float: left;
  width: 340px;
  height: 340px;
  margin: 80px 100px 0 -60px;
}

#portfolio header {
  padding-bottom: 70px;
}

.works {
  font-size: 0;
}

.works img {
  width: 100%;
}

.works#inline li {
  display: inline-block;
  width: 33.3333%;
}

.works#flex {
  display: flex;
}

.works li:hover figcaption {
  margin-top: -86px;
  opacity: 1;
}

.works li {
  position: relative;
  overflow: hidden;
}

.works figcaption {
  position: absolute;
  width: 100%;
  padding: 20px;
  color: white;
  background: rgba(0,0,0,.6);
  opacity: 0;
}

.works h3 {
  margin-top: 0;
  font-size: 16px;
}

.works p {
  font-size: 12px;
}

body > footer {
  padding: 100px 0;
  text-align: center;
}

body > footer a {
  display: inline-block;
  width: 36px;
  height: 36px;
  font-size: 0;
  border-radius: 18px;
}

.facebook {
  background-image: url(../images/social-facebook.png);
}

.instagram {
  background-image: url(../images/social-instagram.png);
}

.vk {
  background-image: url(../images/social-vk.png);
}






@media all and (max-width: 400px) {

  body,
  #welcome,
  #about,
  #portfolio,
  body > footer {
    width: 400px;
    min-width: 400px;
  }

  #welcome footer,
  #about header,
  #about section,
  #portfolio header {
    width: 360px;
  }

  #welcome section {
    height: 130px;
    background-attachment: scroll;
  }

  #welcome aside {
    width: 64px;
    height: 64px;
    margin-top: -26px;
    border: 2px solid white;
  }

  #welcome h1 {
    margin-top: 8px;
    margin-left: 75px;
  }

  #welcome p {
    margin-left: 0;
  }

  #promo {
    float: none;
    width: 100%;
    margin-top: 70px;
  }

  #clock {
    float: none;
    display: block;
    width: 260px;
    height: 260px;
    margin: 80px auto 0;
  }

  .works li {
    display: block !important;
    width: 100% !important;
  }

  .works#flex {
    display: block;
  }

  .works figcaption {
    margin-top: -86px;
    opacity: 1;
  }

}
